<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/assets/resources/Pokeball-512.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
<app></app>
<script type="text/javascript" src="/assets/vendor.min.js"></script>
<script type="text/javascript" src="/assets/app.min.js"></script>
</body>
</html>